
@import url("https://discordstyles.github.io/RadialStatus/RadialStatus.css");
:root {
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 4px;
  --rs-large-spacing: 4px;
  --rs-small-width: 1.5px;
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: var(--avatar-roundness, 50%);
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #747f8d;
  --rs-phone-color: var(--rs-online-color);
  --rs-phone-visible: block;
}

/* حذف تأثيرات التوهج */
.avatarWrapper[data-status] .wrapper__44b0c {
  box-shadow: none !important;
}

#app-mount .avatarWrapper {
  border-radius: var(--rs-avatar-shape);
}

#app-mount .listItem__650eb {
  margin-bottom: 16px;
}

#app-mount .channelTextArea_f75fb0,
#app-mount .channelTextArea__5126c {
  background: rgba(0,0,0,0.3);
  border: 2px solid rgba(255,255,255,0.05);
  border-radius: 6px;
}

/* إزالة الترانزيشنات الثقيلة */
* {
  transition: none !important;
}

/* إزالة التأثيرات البصرية الثقيلة */
#app-mount .bg__960e4,
#app-mount .popout__76f04,
#app-mount .newMessagesBar__0f481,
#app-mount .wrapper_f61d60,
#app-mount .cozyMessage__5126c .messageContent_c19a55 {
  filter: none !important;
  backdrop-filter: none !important;
  box-shadow: none !important;
}
